<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238526087464-gn05ugebpuf2aqpp3gal0olur1dgghkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238526087464-gn05ugebpuf2aqpp3gal0olur1dgghkc</string>
	<key>API_KEY</key>
	<string>AIzaSyC5y3-OMEdwygk7q22jVQ-HI1xyknnXwzM</string>
	<key>GCM_SENDER_ID</key>
	<string>238526087464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HC.ViewInfo</string>
	<key>PROJECT_ID</key>
	<string>iosintegration-bcef8</string>
	<key>STORAGE_BUCKET</key>
	<string>iosintegration-bcef8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238526087464:ios:c9957ef569bf3d219c501d</string>
</dict>
</plist>